{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/black-dashboard.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}"> -->
    <script src="{% static 'js/black-dashboard.min.js' %}"></script>
    <title>Caqui</title>
    <style>
        h1 {text-align: center; padding-top: 10px;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <script>
        function passCode(code){
            sessionStorage.setItem("code_flight", code);
        }
    </script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home">Monitoring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <h1> ATUALIZAÇÃO DO STATUS DE VOO </h1>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">VOOS</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código de Voo</th>
                        <th>Data de Partida</th>
                        <th>Data de chegada</th>
                        <th>Status de Voo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        {% for flight in all_flights %}
                            <tr>
                                <td>{{flight.tx_code}}</td>
                                <td>{{flight.fk_flightstatus.dt_departure}}</td>
                                <td>{{flight.fk_flightstatus.dt_arrival}}</td>
                                {% if flight.fk_flightstatus.nm_status == 0 %}
                                    <td>{{"PREVISTO"}}</td>
                                {% elif flight.fk_flightstatus.nm_status == 1 %}
                                    <td>{{"CANCELADO"}}</td>
                                {% elif flight.fk_flightstatus.nm_status == 2 %}
                                    <td>{{"EMBARCANDO"}}</td>
                                {% elif flight.fk_flightstatus.nm_status == 3 %}
                                    <td>{{"PROGRAMADO"}}</td>
                                {% elif flight.fk_flightstatus.nm_status == 4 %}
                                    <td>{{"TAXIANDO_IDA"}}</td>
                                {% elif flight.fk_flightstatus.nm_status == 5 %}
                                    <td>{{"PRONTO"}}</td>
                                {% elif flight.fk_flightstatus.nm_status == 6 %}
                                    <td>{{"AUTORIZADO"}}</td>
                                {% elif flight.fk_flightstatus.nm_status == 7 %}
                                    <td>{{"EM_VOO"}}</td>
                                {% elif flight.fk_flightstatus.nm_status == 8 %}
                                    <td>{{"ATERRISSADO"}}</td>
                                {% else %}
                                    <td>{{"DESEMBARCANDO"}}</td>
                                {% endif %}
                                <td>
                                    <a id="{{flight.tx_code}}" class="update-status" href="update/edit" onclick="passCode(id)"> <img src="{% static 'img/edit.png' %}" height ="20" width="20" />
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>