{% extends "base_generic.html" %}

{% block content %}

<h1>User: {{ user.id }} </h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>User name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{user.tx_name}}</td>
                <td>{{user.nm_role}}</td>
                <td>{{user.tx_username}}</td>
                <td>
                    <a href="{% url 'user-update' user.id %}">EDITAR</a>
                </td>
                <td>
                    <a href="{% url 'user-delete' user.id %}">EXCLUIR</a>
                  </td>
            </tr>
    </tbody>
</table>

<div style="margin-left:20px;margin-top:20px">

</div>
{% endblock %}