<!DOCTYPE html>
<html>
<head>
<title>Monitoramento de Voos</title>
</head>
<body>

<h1>Current Active Flights</h1>
<p>Departures</p>

<table>
    <tr>
      <th>Flight</th>
      <th>Status</th>
      <th>Sched Dep</th>
      <th>Destination</th>
    </tr>
    <tr>
      <td>GOL2545</td>
      <td>On Schedule</td>
      <td>14:25</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>TAM2345</td>
      <td>Delayed</td>
      <td>19:34</td>
      <td>Mexico</td>
    </tr>
  </table> 

</body>
</html>