{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/black-dashboard.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}"> -->
    <script src="{% static 'js/black-dashboard.min.js' %}"></script>
    <title>Caqui</title>

    <script>
      
      var nav_piloto_operador_controlador_gerente = document.getElementById("nav_piloto_operador_controlador_gerente");
      var nav_operador_controlador_gerente = document.getElementById("nav_operador_controlador_gerente");
      var nav_gerente = document.getElementById("nav_gerente");
      
      function myFunction(){

        var roleSelected = document.getElementById("cargo").value;

        if (roleSelected == "piloto") {
            roleSelected = "piloto";
        }
        else if (roleSelected == "operador") {
            roleSelected = "operador";
        }
        else if (roleSelected == "controlador") {
            roleSelected = "controlador";
        }
        else{
            roleSelected = "gerente";
        }
        if (roleSelected == "piloto"){
          document.getElementById("nav_operador_controlador_gerente").style.display = "none";
          document.getElementById("nav_gerente").style.display = "none";
        }
        else if (roleSelected == "operador" || roleSelected == "controlador"){
          document.getElementById("nav_gerente").style.display = "none";
        }
    }  
    </script>

</head>

<body onload="myFunction()">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
            <a class="navbar-brand" href="../home">Monitoring</a>
            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li id="nav_piloto_operador_controlador_gerente" class="nav-item">
                  <a class="nav-link" href="../update">Update flights</a>
              </li>
              <li id="nav_operador_controlador_gerente" nav-item>
                  <a class="nav-link" href="../flightmanagement/flight">CRUD flights</a> 
              </li>
              <li id="nav_gerente" class="nav-item">
                  <a class="nav-link" href="../report">Flight Reports</a>
              </li>
              <li class="nav-item">
                <a href="/" class="btn btn-primary">Exit</a>
              </li>
          </ul>
    </nav>
    <div class="row">
      <div class="col-lg-6">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title text-center"> DEPARTURES</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr class="text-center">
                    <th>Flight Code</th>
                    <th>Destination</th>
                    <th>Status</th>
                    <th class="text-center">Est. Dep.</th>
                  </tr>
                </thead>
                <tbody>
                  {% for flight in all_flights %}
                    <tr class="text-center">
                        <td>{{flight.tx_code}}</td>
                        <td>{{flight.nm_destination}}</td>
                        <td>{{flight.fk_flightstatus.nm_status}}</td>
                        <td>{{flight.dt_est_departure}}</td>
                        <td</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title text-center"> ARRIVALS</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr class="text-center">
                    <th>Flight Code</th>
                    <th>Origin</th>
                    <th class="text-center">Est. Arrival.</th>
                  </tr>
                </thead>
                <tbody>
                  {% for flight in all_flights %}
                    <tr class="text-center">
                        <td>{{flight.tx_code}}</td>
                        <td>{{flight.nm_origin}}</td>
                        <td>{{flight.dt_est_arrival}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" id="cargo" name="custId" value="{{selectedRole}}">

    </body>
    
    </html>